<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<!-- 
	<bean id = "helloWorld" class = "org.suddat.dev.springTest.HelloWorld" autowire="byName"> or byType or constructor
   		<constructor-arg index= "0" value="constructing" />
   		<constructor-arg index= "1" value="20" />      
   </bean>
	 -->

   <bean id = "helloWorld" class = "org.suddat.dev.springTest.HelloWorld">
   		<constructor-arg index= "0" value="constructing" />
   		<constructor-arg index= "1" value="20" />      
   </bean>
   <!-- 
   <bean id = "triangle" class = "org.suddat.dev.springTest.Triangle">
   		<property name="pointA" ref="zeroPoint"></property>
   		<property name="pointB" ref="point2"></property>
   		<property name="pointC" ref="point3"></property>
   </bean>
    -->
   <bean id = "triangle" class = "org.suddat.dev.springTest.Triangle">
   		<property name="points">
		<list>
			<ref bean="zeroPoint" />
			<ref bean="point2" />
			<ref bean="point3" />
		</list>   		
   		</property> 
   </bean>
   
   <bean id = "zeroPoint" class = "org.suddat.dev.springTest.Point">
   		<property name="x" value="0" />
   		<property name="y" value="0" />
   </bean>
   
   <bean id = "point2" class = "org.suddat.dev.springTest.Point">
   		<property name="x" value="20" />
   		<property name="y" value="0" />
   </bean>
   
   <bean id = "point3" class = "org.suddat.dev.springTest.Point">
   		<property name="x" value="0" />
   		<property name="y" value="-20" />
   </bean>

</beans>